@use "base" as *;

%submit-button {
    background-color: $light-blue;
    border: 1px solid $medium-blue;
    border-radius: $radius;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease-out;
    outline-color: $dark-blue;
    outline-width: 2px;

    &:hover {
        transition: background-color 0.3s ease-out;
        background-color: $medium-blue;
    }
}

.auth-form {
    @extend %flex-center;
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    form {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap-md;

        button {
            @extend %button-md;
            @extend %submit-button;
        }

        .form-tab-link {
            font-size: 0.8rem;
            text-align: center;
            color: $dark-blue;

            a {
                text-decoration: underline;
                cursor: pointer;
                font-weight: 500;
                color: $dark-blue;
            }
        }

        .error {
            color: $red-decline;
            text-align: center;
            font-size: 0.875rem;
        }

        .success {
            color: $medium-blue;
            text-align: center;
            font-size: 0.875rem;
        }
    }
}

%label-top {
    transition: all 0.2s ease-in-out;
    top: -10px;
    transform: translateY(0);
    font-size: 0.8rem;
}

.input-container {
    position: relative;
    border: 1px solid $dark-blue;
    border-radius: $radius;
    padding: $padding-y-sm $padding-x-sm;

    &:focus-within {
        outline: 1px solid $dark-blue;

        label {
            @extend %label-top;
        }
    }

    input,
    select {
        border: none;
        width: 100%;
        font-size: 1rem;
        padding-left: $padding-x-sm;
        padding-top: $padding-x-sm;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 9999px $white inset;
        }

        &:not(:placeholder-shown) + label {
            @extend %label-top;
        }
    }

    label {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        left: $padding-x-sm;
        transform: translateY(-50%);
        font-size: 0.875rem;
        background-color: $white;
        padding: 0 $padding-x-sm;
        color: $dark-blue;
    }
}

.avatar-input {
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    cursor: pointer;

    &:focus-within,
    &.drop-zone-active {
        outline: 3px solid $dark-blue;
        outline-offset: 2px;
    }
}

.avatar {
    aspect-ratio: 1 / 1;
    height: 100%;
    overflow: hidden;

    .skeleton {
        width: 100%;
        height: 100%;
        background: $white;
        filter: brightness(0.9);
        border-radius: 50%;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    img {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.off-screen-menu {
    background-color: $medium-blue;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.5s ease;
    color: $white;
    &.active {
        right: 0;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $link-hover;
        }
    }
    .user {
        display: flex;
        font-size: 2rem;
        gap: 16px;
        align-items: center;
        padding-bottom: 32px;
        margin: 16px;
        justify-content: center;
        img {
            border: 2px solid $white;
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }
        .rating {
            display: flex;
            justify-content: space-evenly;
            font-size: 1rem;
        }
    }
    .nav-list {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 16px;
        color: $white;
        li {
            list-style: none;
            display: flex;
            gap: 24px;
        }
        i {
            color: $white;
            width: 30px;
        }
        .notification {
            border-radius: 50%;
            background: $red-decline;
            font-size: 1rem;
            padding: 6px;
        }
    }
}
nav {
    padding: 1rem;
    display: flex;
    background-color: $medium-blue;
    .logo {
        height: 50px;
        img {
            height: 100%;
        }
    }
    .notification {
        z-index: 5;
        position: absolute;
        right: -5px;
        top: -5px;
        background: $red-decline;
        border-radius: 50%;
        padding: 6px;
        font-size: 0.65rem;
        color: $white;
    }
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 2;
    span {
        height: 5px;
        width: 100%;
        background-color: $light-blue;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: all 0.5s ease-in-out;
    }
    span:nth-child(1) {
        top: 25%;
    }
    span:nth-child(3) {
        top: 75%;
    }
    &.active {
        span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &:hover > span {
        background-color: $link-hover;
    }
    &:hover {
        cursor: pointer;
    }
}
.filter-cars {
    @extend %flex-center;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;

    form {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap-md;

        button {
            @extend %button-md;
            @extend %submit-button;
        }
        .error {
            color: $red-decline;
            text-align: center;
            font-size: 0.875rem;
        }

        .success {
            color: $medium-blue;
            text-align: center;
            font-size: 0.875rem;
        }
    }
}
.car-cards {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    .car-card {
        width: 100%;
        background: $white;
        border-radius: $radius;
        .car-image {
            img {
                max-width: 500px;
                width: 100%;
                border-radius: $radius;
                max-height: 200px;
                height: 100%;
                object-fit: cover;
            }
        }
        .car-card-header {
            max-width: 500px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: $padding-x-sm $padding-x-md $padding-x-sm $padding-x-md;
            .car-card-title {
                display: flex;
                align-items: center;
                gap: $gap-md;
                .car-card-model {
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
            .rating {
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    margin-left: $margin-sm;
                }
            }
        }
        .car-card-bottom-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .right-section {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 0 $padding-x-md $padding-x-md $padding-x-md;
                .price {
                    span {
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .car-card-info {
            width: 100%;
            display: flex;
            padding: 0 $padding-x-md $padding-x-md $padding-x-md;
            justify-content: space-between;
            .subinfo {
                display: flex;
                gap: $gap-md;
                flex-wrap: wrap;
                .small-info {
                    display: flex;
                    gap: calc($gap-sm * 2);
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: $dark-blue;
    }
}
.total-cars {
    padding: $padding-x-md;
    color: $dark-blue;
}
