@use "base" as *;

%submit-button {
    background-color: $light-blue;
    border: 1px solid $medium-blue;
    border-radius: $radius;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease-out;
    outline-color: $dark-blue;
    outline-width: 2px;

    &:hover {
        transition: background-color 0.3s ease-out;
        background-color: $medium-blue;
    }
}

.auth-form {
    @extend %flex-center;
    height: 100vh;
    margin: 0 $margin-md;

    form {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap-md;

        button {
            @extend %button-md;
            @extend %submit-button;
        }

        .form-tab-link {
            font-size: 0.8rem;
            text-align: center;
            color: $dark-blue;

            a {
                text-decoration: underline;
                cursor: pointer;
                font-weight: 500;
                color: $dark-blue;
            }
        }

        .auth-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $gap-md;

            select {
                grid-column: span 3;
                background-color: $white;
                color: $dark-blue;
            }
        }

        .error {
            color: $red-decline;
            text-align: center;
            font-size: 0.875rem;
        }

        .success {
            color: $medium-blue;
            text-align: center;
            font-size: 0.875rem;
        }
    }
}

%label-top {
    transition: all 0.2s ease-in-out;
    top: -10px;
    transform: translateY(0);
    font-size: 0.8rem;
}

.input-container {
    position: relative;
    border: 1px solid $dark-blue;
    border-radius: $radius;
    padding: $padding-y-sm $padding-x-sm;

    &:focus-within {
        outline: 1px solid $dark-blue;

        label {
            @extend %label-top;
        }
    }

    input {
        border: none;
        width: 100%;
        font-size: 1rem;
        padding-left: $padding-x-sm;
        padding-top: $padding-x-sm;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 9999px $white inset;
        }

        &:not(:placeholder-shown) + label {
            @extend %label-top;
        }
    }

    label {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        left: $padding-x-sm;
        transform: translateY(-50%);
        font-size: 0.875rem;
        background-color: $white;
        padding: 0 $padding-x-sm;
        color: $dark-blue;
    }
}

.avatar-input {
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    cursor: pointer;

    &:focus-within,
    &.drop-zone-active {
        outline: 3px solid $dark-blue;
        outline-offset: 2px;
    }
}

.avatar {
    aspect-ratio: 1 / 1;
    height: 100%;
    overflow: hidden;

    .skeleton {
        width: 100%;
        height: 100%;
        background: $white;
        filter: brightness(0.9);
        border-radius: 50%;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    img {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.off-screen-menu {
    background-color: $medium-blue;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.5s ease;
    color: $white;
    &.active {
        right: 0;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $link-hover;
        }
    }
    li {
        list-style: none;
    }
    .user {
        display: flex;
        font-size: 2rem;
        gap: 16px;
        align-items: center;

        padding-bottom: 32px;

        margin: 16px;
        justify-content: center;
        img {
            border: 2px solid $white;
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }
        .rating {
            display: flex;
            justify-content: space-evenly;
            font-size: 1rem;
        }
    }
    .nav-list {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 16px;
        color: $white;
        i {
            color: $white;
            margin-right: 24px;
        }
    }
}
nav {
    padding: 1rem;
    display: flex;
    background-color: $medium-blue;
    .logo {
        height: 50px;
        img {
            height: 100%;
        }
    }
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;

    span {
        height: 5px;
        width: 100%;
        background-color: $light-blue;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: all 0.5s ease-in-out;
    }
    span:nth-child(1) {
        top: 25%;
    }
    span:nth-child(3) {
        top: 75%;
    }
    &.active {
        span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &:hover > span {
        background-color: $link-hover;
    }
    &:hover {
        cursor: pointer;
    }
}
